@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  .mat-mdc-raised-button:not(:disabled).mat-primary {
    background-color: #3b82f6;
    color: #ffffff;
  }

  .snackbar-success {
    .mdc-snackbar__surface.mat-mdc-snackbar-surface {
      background-color: #4caf50 !important;
      color: #ffffff;
      font-weight: 500;
    }

    .mdc-button__label {
      color: #ffffff;
    }
  }

  .snackbar-error {
    .mdc-snackbar__surface.mat-mdc-snackbar-surface {
      background-color: #f44336 !important;
      color: #ffffff;
      font-weight: 500;
    }

    .mdc-button__label {
      color: #ffffff;
    }
  }
}
